<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<html lang="en" style="overflow-x: hidden; overflow-y: auto; ">
<head>
    <meta charset="UTF-8">
    <title>稻草人-水稻病虫害防治系统-模板</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 自定义目录下css -->
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- layui css -->
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">

    <!-- layui admin css -->
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/lib/layui/css/admin.css}" media="all">
    <!-- <link rel="stylesheet" href="../static/lib/layuiadmin/lib/layui/css/layui_old.css" media="all"> -->
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/style/admin.css}" media="all">


    <!-- 引用的js -->
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>


    <!-- css of bootstrap 不需要就别乱引用,会导致出错-->

    <!-- 		<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script> -->

</head>
<body style="background-color: #ffffff">

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/mainindex"><img th:src="@{/images/four.png}" class="head-img"/></a></li>
    <li class="layui-nav-item"><a href="/main">系统首页</a></li>
    <li class="layui-nav-item"><a href="/pest_dict">虫害百科</a></li>

    <li class="layui-nav-item layui-this">
        <a href="javascript:;">用户主页</a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="/user_center">用户信息</a></dd>
            <dd><a href="/history_search">搜索记录</a></dd>
            <dd><a href="/index">退出登录</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/user_comments">用户反馈</a></li>
</ul>
<!-- 顶部结束 -->


<!-- 中部开始 -->
<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center">· 个人信息</a></li>
            <li><a href="/history_search" class="active">· 历史搜索</a></li>
            <li><a href="/user_edit">· 信息修改</a></li>
        </ul>
        <li class="layui-nav-item"><img th:src="@{https://z3.ax1x.com/2021/07/26/WfEoQK.jpg}"
                                        style="height: 250px;margin-top: 20px;"/></li>
    </div>


    <h3 class="common_title2">最近搜索</h3>
    <div class="has_view_list">
        <ul class="goods_type_list clearfix" style="margin-top: 50px">
            <li>
                <a href="/pest_detail"><img th:src="@{https://z3.ax1x.com/2021/07/28/WIWub4.jpg}"></a>
                <h4><a href="/pest_detail" style="FONT-WEIGHT: 600;text-align: center;">稻曲病</a></h4>
                <div class="operate">

                </div>
            </li>

            <li>
                <a href="/pest_detail"><img th:src="@{https://z3.ax1x.com/2021/07/28/WIWiUs.png}"></a>
                <h4><a href="/pest_detail" style="FONT-WEIGHT: 600;text-align: center;">稻瘟病</a></h4>
                <div class="operate">

                </div>
            </li>


            <li>
                <a href="/pest_detail"><img th:src="@{https://z3.ax1x.com/2021/07/28/WIRj8P.png}"></a>
                <h4><a href="/pest_detail" style="FONT-WEIGHT: 600;text-align: center;">稻胡麻斑病</a></h4>
                <div class="operate">
                </div>
            </li>

            <li>
                <a href="/pest_detail"><img th:src="@{https://z3.ax1x.com/2021/07/28/WIhF10.jpg}"></a>
                <h4><a href="/pest_detail" style="FONT-WEIGHT: 600;text-align: center;">纹枯病</a></h4>
                <div class="operate">
                </div>

            </li>
        </ul>
    </div>

    <li class="layui-nav-item"><img th:src="@{https://z3.ax1x.com/2021/07/26/WfF9UI.jpg}"
                                    style="height: 300px;margin-left: 300px;"/></li>

</div>
</div>


<!-- 中部结束 -->
<!-- 底部开始 -->

<!-- 底部结束 -->
<script>

</script>
</body>
</html>
