<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<html lang="en" style="overflow-x: hidden; overflow-y: auto; ">
<head>
    <meta charset="UTF-8">
    <title>后台登录-稻草人</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>

    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">X-admin v2.0</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="/admin-login">退出</a></dd>
            </dl>
        </li>

    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/member-list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>

                        </a>
                    </li>
                </ul>
            </li>


            <!-- <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="order-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li> -->

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>病虫害管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/pest-list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>病虫害列表</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b2;</i>
                    <cite>评论管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/comment-list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论列表</cite>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li>病虫害列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="x-body">
                    <div class="layui-row">
                        <form class="layui-form layui-col-md12 x-so">
                            <input class="layui-input" placeholder="开始日" name="start" id="start">
                            <input class="layui-input" placeholder="截止日" name="end" id="end">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                   class="layui-input">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </form>
                    </div>
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>
                                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                                        class="layui-icon">&#xe605;</i></div>
                            </th>
                            <th>病虫害ID</th>
                            <th>病虫害名称</th>
                            <th>发生地点</th>
                            <th>病虫害图像</th>
                            <th>发生时间</th>

                        </tr>
                        </thead>
                        <tbody th:each="pest : ${session.list}">
                        <tr>
                            <td>
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i
                                        class="layui-icon">&#xe605;</i></div>
                            </td>
                            <td th:text="${pest.pestid}">1</td>
                            <td th:text="${pest.name}">白叶枯病</td>
                            <td th:text="${pest.place}">华南稻区、长江中下游稻区、西南稻区、北方稻区、黄淮稻区</td>
                            <td><img th:src="${pest.infourl}"></img></td>
                            <td th:text="${pest.time}">7月至8月中旬</td>


                        </tr>

                        </tbody>
                    </table>
                    <div class="page">
                        <div>
                            <a th:href="@{'pest-list?start=1'}">[首 页]</a>
                            <a class="prev" th:href="@{'pest-list?start='+${pre}}">[上一页]</a>

                            <a class="next" th:href="@{'pest-list?start='+${next}}">[下一页]</a>
                            <a th:href="@{'pest-list?start='+${last}}">[末 页]</a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</div>

<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>
</div>
<!-- 底部结束 -->
</body>
</html>