<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<html lang="en" style="overflow-x: hidden; overflow-y: auto; ">
<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <meta charset="UTF-8">
    <title>稻草人-水稻病虫害防治系统-模板</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 自定义目录下css -->
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- layui css -->
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">

    <!-- layui admin css -->
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/lib/layui/css/admin.css}" media="all">
    <!-- <link rel="stylesheet" href="../static/lib/layuiadmin/lib/layui/css/layui_old.css" media="all"> -->
    <link rel="stylesheet" th:href="@{/lib/layuiadmin/style/admin.css}" media="all">


    <!-- 引用的js -->
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>

    <!-- css of bootstrap 不需要就别乱引用,会导致出错-->

    <!-- 		<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script> -->

</head>
<body style="background-color: #ffffff">

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img th:src="@{/images/four.png}" class="head-img"/></li>
    <li class="layui-nav-item"><a href="/main">系统首页</a></li>
    <li class="layui-nav-item"><a href="/pest_dict">虫害百科</a></li>

    <li class="layui-nav-item layui-this">
        <a href="javascript:;">用户主页</a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="/user_center">用户信息</a></dd>
            <dd><a href="/history_search">搜索记录</a></dd>
            <dd><a href="/index">退出登录</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/user_comments">用户反馈</a></li>
</ul>
<!-- 顶部结束 -->


<!-- 中部开始 -->
<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center">· 个人信息</a></li>
            <li><a href="/history_search">· 历史搜索</a></li>
            <li><a href="/user_edit" class="active">· 信息修改</a></li>
        </ul>
        <li class="layui-nav-item"><img th:src="@{https://z3.ax1x.com/2021/07/26/WfEoQK.jpg}"
                                        style="height: 250px;margin-top: 20px;"/></li>
    </div>
    <!--    <div class="right_content clearfix">-->
    <!--        <h3 class="common_title2">个人信息</h3>-->
    <!--        <div class="site_con">-->
    <!--            <ul>-->
    <!--                <dt>用户头像: </span><img th:src="@{/lib/layui/images/face/30.gif}" /></dt>-->
    <!--                <dt>用户名：</dt>-->
    <!--                <dd>18210569700</dd>-->
    <!--            </ul>-->
    <!--        </div>-->
    <h3 class="common_title2">信息修改：</h3>
    <ul class="user_info_list" style="margin-top: 40px; height: 250px;float:left;">
        <div class="site_con">
            <form th:action="@{/update_user_own}" th:object="${user}" method="post">

                <!--                <div class="form_group" style="visibility: hidden">-->
                <!--                    <label>用户名：</label>-->
                <!--                    <img th:src="${session.sessionuser.userimg}" style="width:50px"/>-->
                <!--&lt;!&ndash;                   <i nput style="width: 60px;float: right;position: relative;right: 180px;margin-top: 20px; text-indent: 0px;"    id="uphead"  th:action="@{/up_head}" value="修改头像" class="info_submit"></input>&ndash;&gt;-->
                <!--                </div>-->

                <div class="form_group">
                    <label>用户名：</label>
                    <input type="text" name="username" th:value="${session.sessionuser.username}">
                </div>
                <div class="form_group">
                    <label>密码修改：</label>
                    <input type="text" name="password" th:value="${session.sessionuser.password}">
                </div>
                <div class="form_group">
                    <label>用户昵称：</label>
                    <input type="text" name="nickname" th:value="${session.sessionuser.nickname}">
                </div>
                <div class="form_group">
                    <label>性别：</label>
                    <input type="text" name="sex" th:value="${session.sessionuser.sex}">
                </div>
                <div class="form_group">
                    <label>联系方式：</label>
                    <input type="text" name="phone" th:value="${session.sessionuser.phone}">
                </div>
                <div class="form_group">
                    <label>邮箱：</label>
                    <input type="text" name="email" th:value="${session.sessionuser.email}">
                </div>


                <input type="submit" name="" value="提交" class="info_submit">

            </form>

        </div>
    </ul>
</div>
<li class="layui-nav-item"><img th:src="@{https://z3.ax1x.com/2021/07/26/WfK2Xq.png}"
                                style="height: 130px;margin-left: 190px;margin-top: 110px;"/></li>
</div>


<!-- 中部结束 -->
<!-- 底部开始 -->

<!-- 底部结束 -->
<!--				上传文件js代码-->
<script>

    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , layer = layui.layer;

        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#uphead'
            , url: '/up_head' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return layer.msg('上传失败');
                } else {

                    window.location.href = '/user_edit';

                }
                //上传成功的一些操作
                //……
                $('#demoText').html(''); //置空上传失败的状态
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
            //进度条
            , progress: function (n, elem, e) {
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if (n == 100) {
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });
    });
</script>

</body>
</html>
